__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/
.eggs/
*.whl
.venv/
venv/
env/
.env
.python-version
*.log
.mypy_cache/
.ruff_cache/
.pytest_cache/
.DS_Store

output/
input/
*.m4b
*.wav
*.m4a
